.menuItem{
    margin: 10px 10px;
    display: grid; 
    grid-template-columns: auto 70px; 
}

.menuItem p{
   
    text-align: left;
}
.menuItemText{
    padding-right: 0px;
}
@media screen and (min-width: 650px) {
    .menuItemText{
        padding-right: 10px;
    }
  }