
.welcomeBlock{
    background-image: url('../../food.JPG');
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.welcomeBlock h1{
    width:100%;
    padding: 10px;
    height: 60px;
    text-align: center;
    background-color: green;
    margin:0;
    
}

.contentBlockAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.contentBlockAbout p{
    
    margin:auto;
    margin-top:10px;
    text-align: center;
    overflow: hidden;
    max-width: 70ch;
}

